@import "_nullstyle";
body {
    min-width: 560px;
    background: url("../src/dgrey037.jpg");
    margin: 0 auto;
    font-family: "Comic Sans MS", sans-serif;
    overflow-x: hidden;
}
//.wrapper {}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    &:before {  // Фон для бургера  ---> Запомнить, двойной фон
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(161, 35, 77);
        z-index: 2;
    }
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.header__logo {
    flex: 0 0 80px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 3;
    img {
        max-width: 100%; 
        height: 80px;   
    }
}
.header__burger {
    display: none;
}
.header__list {
    display: flex;
    position: relative;
    z-index: 2;
    li {
        list-style: none;
        margin-left: 20px;
    }
}
.header__link {
    color: rgb(200, 248, 232);
    text-transform: uppercase;
    font-size: 16px;
}

@media (max-width: 767px){
    body.lock {
        overflow: hidden;
    }
    .header__body {
        height: 50px;
    }
    .header__logo {
        flex: 0 0 50px;
        img {
            height: 50px;   
        }
    }
    .header__burger {
        display: block;
        position: relative;
        height: 20px;
        width: 30px; 
        position: relative;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 200ms ease 0s;
    }
    .header__burger:before, .header__burger:after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 200ms ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;           
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto; //Для прокрутки меню, если не влазит
        background-color: rgb(138, 45, 96);
        padding: 60px 10px 20px 10px;
        transition: all 300ms ease 0s;
    }
    .header__menu.active {
        top: 0;
    }
    .header__list {
        display: block;
        li {
            margin:  0 0 20px 0;
        }
    }
    .header__link {
        font-size: 18px;
    }
}

.flex {
    padding-top: 100px;
    display: flex;
    width: 100%;
}
@media (max-width: 767px) {
    .flex {
        padding: 50px 0 0 0;
    }
}
.flex-left {
    min-width: 560px;
    width: 70%;
    justify-content: center;
    text-align: right;
}
.flex-right {
    width: 30%;
    justify-content: center;
    align-items: center;
}
header {
    height: 90%;
    margin-bottom: 10%;
}
//.headers {}
h1 {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    white-space: nowrap;
    color: #d9d68d;
    background: indianred;
    border: 2px solid indianred;
    border-radius: 20px;
    margin: 3% 10% 2% 0;
    padding: 10px 5%;
}
h1:hover {
    color: #e8e76d;
    background: #d82e35;
    border: 2px solid #d82e35;
    box-shadow: 5px 5px #e8e76d;
    cursor: pointer;
    transition-duration: 400ms, 0.4s, 400ms, 1s;
    transition-property: color, background, border, box-shadow;
    /*transition-delay: 100ms, 0s, 0s, 0s;*/
    transition-timing-function: ease;
}
h3 {
    margin: 0 15% 2% 0;
    color: #b9b9a0;
    font-size: 1.2em;
    font-weight: bold;
}

.old_nav {
    display: flex;
    justify-content: space-around;
    height: 70%;
}
.old_nav img {
    height: 100%;
}
.old_nav img:hover {
    transition: all 3s ease 0.1s; //Анимашка
    &:hover {
        transform: rotate(360deg) rotate(360deg) rotate(360deg) rotate(360deg) rotate(360deg) rotate(360deg) rotate(360deg) rotate(360deg) rotate(360deg);
    }
}

.old_li {
    margin-left: 5%;
    display: flex;
    height: 50px;
    background: url("../src/icon.png") no-repeat;
    background-size: 50px;
    align-items: center;
}

.old_a {
    margin-left: 60px;
    color: #3cdec9;
}
.old_a:visited {
    color: #3cdec9;
}
.old_a:hover {
    transition-duration: 1s;
    transition-property: color;
    font-weight: bold;
    color: #bdba79;
}

.flex-right img {
    width: 90%;
}
.bender {
    font-size: 2em;
    font-weight: bold;
    white-space: nowrap;
    color: #f6ed85;
    background: #3cdec9;
    border: 2px solid #3cdec9;
    border-radius: 20px;
    padding: 10px 20px;
    justify-content: center;
}
@media (max-width: 570px){ /*Смартфоны*/
    .flex-right img {
        display: none;
    }
}

.flex__row {
    display: flex;
    width: 100%;
    align-items: center;
}
.flex__column {
    width: 20%;
    &:nth-child(odd) {
        border: 5px solid rgb(128, 27, 27);
    }
    border: 5px solid #000;

}
.flex__column_1 {
    align-self: flex-end;
}
.flex__column_2 {
    padding-right: 5%;
}

.boot {
    border: 1px solid rgb(81, 170, 221);
    display: block;
    //height: 800px;
    //width: 1366px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px 3px rgb(238, 57, 199);
    line-height: 27px;
    font-size: 20px;
    background: url(../src/camo1.jpg) 0 0 repeat; // Стрелки
    perspective-origin: center;
    perspective: 50cm;
}
.block { 
    display: inline-block;
    transition: all 1s ease 0.1s; //Анимашка
    transform-origin: center;
    &:hover {
        transform: rotate3d(0, 1, 0, 45deg);
    }   
}
.linker {
    height: 200px;
    width: auto; 
}
